.searchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .searchBar {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
  }
  